.score {
  margin-left: auto;
  margin-right: 0;
  color: rgb(243, 241, 241);
  font-size: 28px;
  font-family: "IBM Plex Mono";
  padding-right: 28px;
  padding-top: 28px;
  font-weight: 800;
}

.score-number {
  color: black;
}
