.changeUserDetailsInterface {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profileInputSection {
  margin-left: auto;
  margin-right: 0;
}

.profileInputButton {
  margin-top: 20px;
  margin-left: auto;
  margin-right: 0;
}

.profileInputButtonLabel {
  width: 310px;
  height: 60px;
  margin-right: 30px;
}

input[type="text"] {
  text-align: center;
  width: 310px;
  height: 60px;
  box-sizing: border-box;
}
